version: '3'

services:
  sftp-server:
    image: atmoz/sftp
    container_name: mon-serveur-sftp
    restart: always
    ports:
      # J'ai mis 2222 en externe car le port 22 est souvent déjà pris par ton PC/Serveur pour sa propre gestion
      - "2222:22"
    volumes:
      # Tes fichiers arriveront dans le dossier ./data/upload
      - ./data:/home/admin/upload
    # Format de la commande : utilisateur:motdepasse:UID
    command: admin:progtr00:1001
    logging:
      driver: syslog
      options:
        syslog-address: "udp://127.0.0.1:514"
        tag: "Serv-SFTP"