version: '3.8'

services:

  syslog-ng:
    image: balabit/syslog-ng:latest
    container_name: syslog
    restart: unless-stopped
    ports:
      - "514:514/udp"  # Port standard UDP
      - "601:601/tcp"  # Port standard TCP (souvent 601 ou 514)
    volumes:
      - ./logs:/var/log/syslog-ng  # Dossier où les logs seront stockés sur l'hôte
      - ./syslog-ng.conf:/etc/syslog-ng/syslog-ng.conf # Votre fichier de config (optionnel mais recommandé)
    environment:
      - TZ=Europe/Paris # Pour avoir la bonne heure dans les logs

  tftp-server:
    image: alpine:latest
    container_name: mon-serveur-tftp
    restart: always
    ports:
      # Le TFTP utilise le port 69 en UDP (Standard)
      # Important : Ne changez pas le port externe 69, sinon le switch ne trouvera pas le serveur.
      - "69:69/udp"
    volumes:
      # On garde votre dossier local "./data" pour récupérer les fichiers
      # Dans le conteneur, le dossier standard TFTP est /var/tftpboot
      - ./data:/var/tftpboot
    # En TFTP, il n'y a PAS de commande user/password
    logging:
      driver: syslog
      options:
        syslog-address: "udp://127.0.0.1:514"
        tag: "Serv-TFTP"

  squid:
    image: ubuntu/squid:latest
    container_name: proxy_squid
    ports:
      - "3128:3128" # Expose le port 3128 du conteneur sur le port 3128 de votre PC
    volumes:
      - ./squid.conf:/etc/squid/squid.conf:ro # On injecte notre config (lecture seule)
      - ./logs:/var/log/squid # (Optionnel) Pour voir les logs d'accès depuis votre dossier
    dns:
      - 172.18.26.101 # L'IP du DNS de l'école (si le 8.8.8.8 de Google est bloqué)
    logging:
      driver: syslog
      options:
        syslog-address: "udp://127.0.0.1:514"
        tag: "Serv-Proxy"
    restart: always
  
 web:
    image: nginx:latest
    ports:
      - "8000:80"
    volumes:
      - ./html:/usr/share/nginx/html:ro
      - ./default.conf:/etc/nginx/conf.d/default.conf:ro 
    logging:
      driver: syslog
      options:
        syslog-address: "udp://127.0.0.1:514"
        tag: "Serv-Web"
    depends_on:
      - syslog-ng
